<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("../partials/global_header.ejs",{title:"Employee Settings"})%>


</head>

<body>

    <!--========== HEADER / NAV (START)==========-->
    <%-include("../partials/dash_header_nav")%>
        <!--========== HEADER / NAV (END)==========-->

        <!--========== CONTENTS ==========-->



















































        <%- include("../partials/bootstrap_js_cdn")%>




            <%-include("../partials/dash_header_nav_js.ejs")%>




                <!-- <script>

                    if (window.history.replaceState) {
                        //alert(window.location.href)
                        window.history.replaceState(null, null, "/employee/home_dash")
                    }
                </script> -->
</body>

</html>